<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Details</title>
</head>
<body>
  <h1><%= title %></h1>
  <h3><%= todo.text %></h3>
  <h4><%= todo.done ? 'done' : 'not done' %></h4>
  <a href="/todos/<%= todo._id %>/edit">
    <button>Edit</button>
  </a>
  <a href="/todos">
    <button>All To Dos</button>
  </a>
</body>
</html>